
@{
    ViewBag.Title = "Gifts";
}

<h2>@ViewBag.Message</h2>
<h3>We want to let everyone know that the gift we want most for our wedding is the presence of friends and family.
     However, if you are still interested in giving a gift, we registered at the following places.</h3><br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.rei.com/GiftRegistryDetails/GR129368814">
                <img src="~/Content/images/reilogo.jpg" class="img-responsive img-rounded" style="width:100%" alt="Rei Registry">
            </a>
            <p class="text-center">Registered at REI</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>One of our favorite and preferred stores, REI. We are registered at REI because we enjoy the outdoors. 
                We especially enjoy traveling to the many different National Parks for hiking and exploring. 
                We are planning longer back country hiking and camping trips. So we put together a list of additional items we may need.</p><br />
                <p><a href="https://www.rei.com/GiftRegistryDetails/GR129368814" class="btn btn-primary btn-sm" role="button">Navigate to Registry</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="http://www.target.com/gift-registry/registry/iYhfrrLTLeNjCRRza6e1MA?lnk=copiedLink">
                <img src="~/Content/images/targetlogo.jpg" class="img-responsive img-rounded" style="width:100%" alt="Target Registry">
            </a>
            <p class="text-center">Registered at Target</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>We are registered at Target because there are a few items we could use around the house.</p><br />
                <p><a href="http://www.target.com/gift-registry/registry/iYhfrrLTLeNjCRRza6e1MA?lnk=copiedLink" class="btn btn-primary btn-sm" role="button">Navigate to Registry</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/bluegift.jpg" class="img-responsive img-rounded" style="width:100%" alt="Other Suggestions">
            <p class="text-center">Other Suggestions</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Here are some other suggestions.</p>
                <ul>
                    <li>You attending our wedding and having a wonderful time at the beach.</li>
                    <li>If you are crafty, homemade things are always nice.</li>
                    <li>We are bad at decorating and the house could use more of that.</li>
                    <li>Any cool or useful camping/hiking item you think we would enjoy having.</li>
                    <li>And of course gift cards, especially REI, are wonderful.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />