
@{
    ViewBag.Title = "Gifts";
}

<h2>@ViewBag.Message</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<br />