@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/gardens.jpg" alt="gardens picture" class="img-responsive img-rounded" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/acadia1.jpg" alt="acadia picture" class="img-responsive img-rounded" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/beachcarry.jpg" alt="beach picture" class="img-responsive img-rounded" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/croatiatrail.jpg" alt="croatia picture" class="img-responsive img-rounded" />
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
@*   fancybox images   *@
<hr />
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <p>Hvar, Croatia - Lambik Restaurant</p>
            <a class="fancybox" rel="row1" href="~/Content/images/750-croatia.jpg" title="Hvar, Croatia - Lambik Restaurant"><img src="~/Content/images/300-croatia.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Vela Luka, Croatia - Trail to Vela Spila</p>
            <a class="fancybox" rel="row1" href="~/Content/images/750-velaspila.jpg" title="Vela Luka, Croatia - Trail to Vela Spila"><img src="~/Content/images/300-velaspila.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Alaska - Whittier Harbor</p>
            <a class="fancybox" rel="row1" href="~/Content/images/750-alaska.jpg" title="Alaska - Whittier Harbor"><img src="~/Content/images/300-alaska.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>California - Lovers Point</p>
            <a class="fancybox" rel="row1" href="~/Content/images/750-loverspoint.jpg" title="California - Lovers Point"><img src="~/Content/images/300-loverspoint.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <p>Acadia - Beehive Trail</p>
            <a class="fancybox" rel="row2" href="~/Content/images/750-beehive.jpg" title="Acadia - Beehive Trail"><img src="~/Content/images/300-beehive.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Yellowstone - Washburn Mountain Trail</p>
            <a class="fancybox" rel="row2" href="~/Content/images/750-washburn.jpg" title="Yellowstone - Washburn Mountain Trail"><img src="~/Content/images/300-washburn.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Yellowstone - 45th Parallel</p>
            <a class="fancybox" rel="row2" href="~/Content/images/750-yellowstone.jpg" title="Yellowstone - 45th Parallel"><img src="~/Content/images/300-yellowstone.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Nashville - Pens vs Predators</p>
            <a class="fancybox" rel="row2" href="~/Content/images/750-pens.jpg" title="Nashville - Pens vs Predators"><img src="~/Content/images/300-pens.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="Image"></a>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/jquery.fancybox.js")
    @Scripts.Render("~/bundles/fancybox")
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    openEffect: 'elastic',
                    closeEffect: 'elastic',
                    prevEffect: 'none',
                    nextEffect: 'none',
                    helpers: {
                        title: {
                            type: 'float'
                        },
                        thumbs: {
                            width: 50,
                            height: 50
                        }
                    }
                });
            });
        </script>
    }
