
@{
    ViewBag.Title = "Location";
}

<h2>@ViewBag.Message</h2>
<h3>There are many affordable places to stay near Avon. I'm sure there will also be space available with others. If you need an help or advice please contact Angie or Beverly. They have both done a lot of research.</h3><br />

<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/koru.jpg" class="img-responsive img-rounded" alt="Koru Village Logo">
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Koru Village Resort and Spa is a popular beach wedding venue located in Avon, NC. After much back and forth, this is the venue we decided will host our wedding. 
                We wanted a location where our guest could enjoy themselves in between the festivities of ceremony and reception.</p>
                <p>The suggested attire will be Beach Formal. As there is a limit to the number of chairs Koru is allowed to place on the beach, we recommend bringing your own beach chair or towel. 
                The ceremony will be short so standing should not be a problem for most.</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/Kampus-Map-Color-Coded.jpg" class="img-responsive img-rounded" alt="Koru Village Map">
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>This is the map of the area. The wedding ceremony will be held on the beach outside of the Beach Klub. The reception will be held at the PapaWack Theater following the ceremony. 
                There will be games and refreshments. However, the pool is off limits during the events. Nearby is the Pangea restaurant and tavern as well as a fishing pier. </p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8">
            <div id="map" style="height:450px;width:100%"></div>
        </div>
        <div class="well col-sm-12 col-md-4 col-lg-4">
            <p><strong>Koru Village Resort and Spa</strong></p>
            <p>40920 N Carolina 12 Avon, NC</p>
            <p>(252) 995-3125</p>
            <p><a target="_blank" href="http://www.koruvillage.com" class="btn btn-primary" role="button">Navigate to Website</a></p>
            <p><a target="_blank" href="https://goo.gl/maps/vQE34jR82qG2" class="btn btn-primary" role="button">View Map in Google</a></p>

        </div>
    </div>
</div>
<br />


@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAch4UJR0dIo88qoDykY5IQkxMHchPW_78"></script>
    <script>
        var marker;
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: { lat: 35.348114, lng: -75.504373 }
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: { lat: 35.348114, lng: -75.504373 }
            })
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}