
@{
    ViewBag.Title = "ThingsToDo";
}

<h2>@ViewBag.Message</h2><br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Coming Soon?</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Coming Soon?</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Coming Soon?</p>
            </div>
        </div>
    </div>
</div>
<br />