
@{
    ViewBag.Title = "ThingsToDo";
}

<h2>@ViewBag.Message</h2><br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/avonpier.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Avon Pier</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>Avon Fishing Pier</strong>
                <p>The world famous Avon Fishing Pier is next door to the venue.</p>
                <ul>
                    <li>Fishing. No license needed.</li>
                    <li>Rod and gear rentals.</li>
                    <li>Small general store.</li>
                    <li>Food, Ice Cream, and Drinks.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/lighthouse.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Lighthouses</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>Lighthouses</strong>
                <p>There are many other sights to see in the area.</p>
                <ul>
                    <li>Bodie Island Lighthouse</li>
                    <li>Cape Hatteras Lighthouse</li>
                    <li>Ocracoke Island Lighthouse</li>
                    <li>Whalehead Club and Currituck Beach Lighthouse</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/jockeysridge.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Jockey's Ridge Sand Dunes</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>Jockey's Ridge State Park and Wright Memorial</strong>
                <p>The park is a great place to visit and watch the sun set.</p>
                <ul>
                    <li>Huge natural sand dunes.</li>
                    <li>Great place to fly kites, picnic, or relax.</li>
                    <li>Just a couple miles from the Wright Brother's Memorial.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/vineyardgrapes.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p class="text-center">Wine Vineyards</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>Vineyards and Art Galleries</strong>
                <p>There are a few vineyards nearby that have wine tastings and a couple art galleries to explore.</p>
                <ul>
                    <li>Sanctuary Vineyards</li>
                    <li>Island Spice & Wine</li>
                    <li>The Gaskins Gallery</li>
                    <li>Kinnakeet Clay Studio</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />