
@{
    ViewBag.Title = "TravelInfo";
}

<h2>@ViewBag.Message</h2><br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/road.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>BY LAND</strong>
                <ul>
                    <li>Estimated Travel Time: 9 - 10 Hours</li>
                    <li>Pittsburgh, PA to Avon, NC</li>
                </ul>
                <strong>BY PLANE</strong>
                <ul>
                    <li>Estimated Travel Time: 3 Hour Flight + 2 Hour Drive</li>
                    <li>Estimated Ticket Cost: $245 Round Trip</li>
                    <li>Pittsburgh, PA to Norfolk Airport to Avon, NC</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/beachhouse.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>BEACH RENTALS</strong>
                <p>There are many homes in the area for rent. Search vacation rentals by owner in the area. </p>
                <ul>
                    <li>Here are a few examples listed on VRBO.com</li>
                    <li>Avon House #730335</li>
                    <li>Avon House #388941</li>
                    <li>Kinnakeet Shores House #295829</li>
                    <li>Kinnakeet Shores House #295918</li>
                    <li>Wind Over Waves #422254</li>
                    <li>Colony House #7009856HA</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/koalogo.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-8">
            <div class="well">
                <strong>KOA Campgrounds</strong><br />
                <p>Cape Hatteras KOA. 15 Miles from the Koru. KOA offers a wide variety of options.</p>
                <ul>
                    <li>Estimated Cost for Cabins/Suites: $100/night and up.</li>
                    <li>Cabins</li>
                    <li>Tent Sites</li>
                    <li>Vacation Rental Suites</li>
                    <li>RV Sites</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
