
@{
    ViewBag.Title = "TravelInfo";
}

<h2>@ViewBag.Message</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/koalogo.jpg" class="img-responsive img-rounded" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image Description</p>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>
<br />

<!-- 6 villas availiable on site atleast 2 bedrooms kitchen and living space contact Bev or koru?
    homes for rent in the area

    (VRBO) vacation rental by ownber
    AVON HOUSE #730335
    KINNAKEET SHORES HOUSE #295829
    KINNAKEET SHORES HOUSE #295918
    AVON HOUSE #388941
    WIND OVER WAVES #422254
    COLONY HOUSE #7009856HA

    KOA CAMP GROUND - RODANTHE

     -->